<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="login-container">
  <div class="login-card">

    <h2>Recuperar Senha</h2>
    <p class="subtitle">Digite seu e-mail para enviarmos um link de recuperação.</p>

    <form th:action="@{/esqueci-senha}" method="post">
      <div class="input-group">
        <label>Email</label>
        <input placeholder="Digite seu e-mail" type="email" name="email"  required>
      </div>

      <button type="submit" class="btn-login">Enviar link</button>
    </form>

    <p style="margin-top: 20px;">
      <a th:href="@{/login}" style="color:#94a3b8;">Voltar para o login</a>
    </p>
  </div>
</div>

</body>
</html>
