<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(titulo)">
    <title th:text="${titulo}">Bolão Brasileirão</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body th:fragment="template(titulo, conteudo)">

<!-- inclui o HEAD dentro do template -->
<div th:replace="~{this :: head(titulo=${titulo})}"></div>

<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Sidebar -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Conteúdo -->
<div class="content">
    <div th:replace="${conteudo}"></div>
</div>

<script>

    function abrirModal(jogoId) {
        fetch(`/palpite/jogo/${jogoId}`)
            .then(res => res.text())
            .then(html => {
                document.body.insertAdjacentHTML("beforeend", html);
                document.getElementById("modalPalpite").style.display = "flex";
            });
    }

    function fecharModal() {
        document.getElementById("modalPalpite").remove();
    }

    function abrirModalVer(jogoId) {
        fetch(`/palpite/jogo/${jogoId}/ver`)
            .then(res => res.text())
            .then(html => {
                document.body.insertAdjacentHTML("beforeend", html);
                document.getElementById("modalVerPalpite").style.display = "flex";
            });
    }

    function fecharModalVer() {
        document.getElementById("modalVerPalpite").remove();
    }

</script>

</body>
</html>
