<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/rodadas.css}">
</head>

<body th:replace="~{layout :: template(titulo=${titulo}, conteudo=~{rodadas :: content})}">

<div th:fragment="content" class="rodadas-wrapper">

    <div class="rodada-header">

        <!-- Botão Anterior -->
        <a th:if="${hasAnterior}"
           th:href="@{/rodadas(rodada=${rodada - 1})}"
           class="nav-btn btn-link">&lt;</a>

        <span th:if="${!hasAnterior}" class="nav-btn nav-disabled">&lt;</span>

        <!-- Título -->
        <h2 th:text="${rodada} + 'ª RODADA'"></h2>

        <!-- Botão Próxima -->
        <a th:if="${hasProxima}"
           th:href="@{/rodadas(rodada=${rodada + 1})}"
           class="nav-btn btn-link">&gt;</a>

        <span th:if="${!hasProxima}" class="nav-btn nav-disabled">&gt;</span>

    </div>


    <div class="aviso-rodada fade-in" th:if="${semJogos}">
        <p>Rodada ainda não está disponível.</p>
    </div>


    <!-- LOOP JOGOS -->
    <div class="jogo-item"
         th:each="jogo : ${jogos}"
         th:classappend="${jogo.status.name() == 'FINALIZADO' ? ' encerrado' :
                      (jogo.status.name() == 'AGENDADO' ? ' agendado' : ' andamento')}">

        <!-- TOPO -->
        <div class="jogo-info-topo">
            <span class="estadio" th:text="${jogo.estadio}">Estádio</span>
            <span class="data" th:text="${#temporals.format(jogo.dataJogo, 'dd/MM • EEEE • HH:mm')}"></span>
        </div>

        <!-- SELO DE STATUS -->
        <div class="status-selo"
             th:classappend="${jogo.status.name() == 'FINALIZADO' ? ' encerrado' :
                          (jogo.status.name() == 'AGENDADO' ? ' agendado' : ' andamento')}">

        <span th:text="${jogo.status.name() == 'FINALIZADO' ? 'ENCERRADO' :
                       (jogo.status.name() == 'AGENDADO' ? 'AGENDADO' : 'EM ANDAMENTO')}">
        </span>

        </div>

        <!-- CONTEÚDO -->
        <div class="jogo-content">

            <div class="time">
                <span class="sigla" th:text="${jogo.mandante}">Time A</span>
            </div>

            <div class="placar-area">

            <span class="placar" th:if="${jogo.placarMandante != null}"
                  th:text="${jogo.placarMandante + ' x ' + jogo.placarVisitante}">
            </span>

                <span class="placar" th:if="${jogo.placarMandante == null}">
                - x -
            </span>

            </div>

            <div class="time">
                <span class="sigla" th:text="${jogo.visitante}">Time B</span>
            </div>

        </div>
    </div>

</div>

</body>
</html>
